RequestForQuoteServicesModuleLibrary/Service References/OptionPricerService/OptionPricingController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://model.option.rfq.ws.leon.com/" name="OptionPricingController" targetNamespace="http://model.option.rfq.ws.leon.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:ns1="com.leon.ws.rfq.option.model" elementFormDefault="unqualified" targetNamespace="http://model.option.rfq.ws.leon.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="com.leon.ws.rfq.option.model" />
      <xs:element name="OptionPriceResult" type="tns:optionPriceResult" />
      <xs:element name="calculate" type="tns:calculate" />
      <xs:element name="calculateRange" type="tns:calculateRange" />
      <xs:element name="calculateRangeResponse" type="tns:calculateRangeResponse" />
      <xs:element name="calculateResponse" type="tns:calculateResponse" />
      <xs:element name="getModelDetails" type="tns:getModelDetails" />
      <xs:element name="getModelDetailsResponse" type="tns:getModelDetailsResponse" />
      <xs:element name="parameterize" type="tns:parameterize" />
      <xs:element name="parameterizeResponse" type="tns:parameterizeResponse" />
      <xs:complexType name="parameterize">
        <xs:sequence>
          <xs:element minOccurs="0" name="strike" type="xs:decimal" />
          <xs:element minOccurs="0" name="volatility" type="xs:decimal" />
          <xs:element minOccurs="0" name="underlyingPrice" type="xs:decimal" />
          <xs:element minOccurs="0" name="daysToExpiry" type="xs:decimal" />
          <xs:element minOccurs="0" name="interestRate" type="xs:decimal" />
          <xs:element name="isCall" type="xs:boolean" />
          <xs:element name="isEuropean" type="xs:boolean" />
          <xs:element minOccurs="0" name="dayCountConvention" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="parameterizeResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="calculate">
        <xs:sequence>
          <xs:element minOccurs="0" name="strike" type="xs:decimal" />
          <xs:element minOccurs="0" name="volatility" type="xs:decimal" />
          <xs:element minOccurs="0" name="underlyingPrice" type="xs:decimal" />
          <xs:element minOccurs="0" name="daysToExpiry" type="xs:decimal" />
          <xs:element minOccurs="0" name="interestRate" type="xs:decimal" />
          <xs:element name="isCall" type="xs:boolean" />
          <xs:element name="isEuropean" type="xs:boolean" />
          <xs:element minOccurs="0" name="dayCountConvention" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="calculateResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:optionPriceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="optionPriceResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="delta" type="xs:decimal" />
          <xs:element minOccurs="0" name="gamma" type="xs:decimal" />
          <xs:element minOccurs="0" name="price" type="xs:decimal" />
          <xs:element minOccurs="0" name="rho" type="xs:decimal" />
          <xs:element minOccurs="0" name="theta" type="xs:decimal" />
          <xs:element minOccurs="0" name="vega" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getModelDetails">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getModelDetailsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="calculateRange">
        <xs:sequence>
          <xs:element minOccurs="0" name="rangeKey" type="xs:string" />
          <xs:element minOccurs="0" name="startValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="endValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="increment" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="calculateRangeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:optionPriceResultSet" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="optionPriceResultSet">
        <xs:sequence>
          <xs:element minOccurs="0" name="optionPriceResults">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:OptionPriceResult" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arrayList">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractList">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractList" abstract="true">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractCollection">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractCollection" abstract="true">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ns1="http://model.option.rfq.ws.leon.com/" targetNamespace="com.leon.ws.rfq.option.model" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://model.option.rfq.ws.leon.com/" />
      <xs:element name="optionPriceResultSet" type="ns1:optionPriceResultSet" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="calculateRangeResponse">
    <wsdl:part name="parameters" element="tns:calculateRangeResponse" />
  </wsdl:message>
  <wsdl:message name="calculate">
    <wsdl:part name="parameters" element="tns:calculate" />
  </wsdl:message>
  <wsdl:message name="parameterize">
    <wsdl:part name="parameters" element="tns:parameterize" />
  </wsdl:message>
  <wsdl:message name="getModelDetails">
    <wsdl:part name="parameters" element="tns:getModelDetails" />
  </wsdl:message>
  <wsdl:message name="parameterizeResponse">
    <wsdl:part name="parameters" element="tns:parameterizeResponse" />
  </wsdl:message>
  <wsdl:message name="calculateResponse">
    <wsdl:part name="parameters" element="tns:calculateResponse" />
  </wsdl:message>
  <wsdl:message name="calculateRange">
    <wsdl:part name="parameters" element="tns:calculateRange" />
  </wsdl:message>
  <wsdl:message name="getModelDetailsResponse">
    <wsdl:part name="parameters" element="tns:getModelDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="OptionPricingController">
    <wsdl:operation name="parameterize">
      <wsdl:input name="parameterize" message="tns:parameterize" />
      <wsdl:output name="parameterizeResponse" message="tns:parameterizeResponse" />
    </wsdl:operation>
    <wsdl:operation name="calculate">
      <wsdl:input name="calculate" message="tns:calculate" />
      <wsdl:output name="calculateResponse" message="tns:calculateResponse" />
    </wsdl:operation>
    <wsdl:operation name="getModelDetails">
      <wsdl:input name="getModelDetails" message="tns:getModelDetails" />
      <wsdl:output name="getModelDetailsResponse" message="tns:getModelDetailsResponse" />
    </wsdl:operation>
    <wsdl:operation name="calculateRange">
      <wsdl:input name="calculateRange" message="tns:calculateRange" />
      <wsdl:output name="calculateRangeResponse" message="tns:calculateRangeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OptionPricingControllerSoapBinding" type="tns:OptionPricingController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="calculate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="calculate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="calculateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="parameterize">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="parameterize">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="parameterizeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getModelDetails">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getModelDetails">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getModelDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateRange">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="calculateRange">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="calculateRangeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OptionPricingController">
    <wsdl:port name="OptionPricingControllerImplPort" binding="tns:OptionPricingControllerSoapBinding">
      <soap:address location="http://localhost:8080/rfq/services/PriceOption" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>