RequestForQuoteServicesModuleLibrary/Service References/UnderlyingMaintenanceService/UnderlyingController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://underlying.rfq.ws.leon.com/" name="UnderlyingController" targetNamespace="http://underlying.rfq.ws.leon.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://underlying.rfq.ws.leon.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getAll" type="tns:getAll" />
      <xs:element name="getAllResponse" type="tns:getAllResponse" />
      <xs:element name="save" type="tns:save" />
      <xs:element name="saveResponse" type="tns:saveResponse" />
      <xs:element name="updateValidity" type="tns:updateValidity" />
      <xs:element name="updateValidityResponse" type="tns:updateValidityResponse" />
      <xs:complexType name="getAll">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getAllResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:underlyingDetailImpl" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="underlyingDetailImpl">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element name="isValid" type="xs:boolean" />
          <xs:element minOccurs="0" name="ric" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateValidity">
        <xs:sequence>
          <xs:element minOccurs="0" name="RIC" type="xs:string" />
          <xs:element name="isValid" type="xs:boolean" />
          <xs:element minOccurs="0" name="updatedBy" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateValidityResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="save">
        <xs:sequence>
          <xs:element minOccurs="0" name="RIC" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="savedBy" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getAll">
    <wsdl:part name="parameters" element="tns:getAll" />
  </wsdl:message>
  <wsdl:message name="updateValidityResponse">
    <wsdl:part name="parameters" element="tns:updateValidityResponse" />
  </wsdl:message>
  <wsdl:message name="getAllResponse">
    <wsdl:part name="parameters" element="tns:getAllResponse" />
  </wsdl:message>
  <wsdl:message name="updateValidity">
    <wsdl:part name="parameters" element="tns:updateValidity" />
  </wsdl:message>
  <wsdl:message name="saveResponse">
    <wsdl:part name="parameters" element="tns:saveResponse" />
  </wsdl:message>
  <wsdl:message name="save">
    <wsdl:part name="parameters" element="tns:save" />
  </wsdl:message>
  <wsdl:portType name="UnderlyingController">
    <wsdl:operation name="getAll">
      <wsdl:input name="getAll" message="tns:getAll" />
      <wsdl:output name="getAllResponse" message="tns:getAllResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateValidity">
      <wsdl:input name="updateValidity" message="tns:updateValidity" />
      <wsdl:output name="updateValidityResponse" message="tns:updateValidityResponse" />
    </wsdl:operation>
    <wsdl:operation name="save">
      <wsdl:input name="save" message="tns:save" />
      <wsdl:output name="saveResponse" message="tns:saveResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UnderlyingControllerSoapBinding" type="tns:UnderlyingController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAll">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAll">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateValidity">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updateValidity">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateValidityResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="save">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="save">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UnderlyingController">
    <wsdl:port name="UnderlyingControllerImplPort" binding="tns:UnderlyingControllerSoapBinding">
      <soap:address location="http://localhost:8080/rfq/services/UnderlyingMaintenance" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>