RequestForQuoteServicesModuleLibrary/Service References/HolidayMaintenanceService/HolidayControllerImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://holiday.rfq.ws.leon.com/" name="HolidayControllerImplService" targetNamespace="http://holiday.rfq.ws.leon.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://holiday.rfq.ws.leon.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Holiday" type="tns:holiday" />
      <xs:element name="delete" type="tns:delete" />
      <xs:element name="deleteResponse" type="tns:deleteResponse" />
      <xs:element name="get" type="tns:get" />
      <xs:element name="getAll" type="tns:getAll" />
      <xs:element name="getAllResponse" type="tns:getAllResponse" />
      <xs:element name="getResponse" type="tns:getResponse" />
      <xs:element name="save" type="tns:save" />
      <xs:element name="saveResponse" type="tns:saveResponse" />
      <xs:complexType name="save">
        <xs:sequence>
          <xs:element minOccurs="0" name="location" type="xs:string" />
          <xs:element minOccurs="0" name="holidayDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="addedByUser" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getAll">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getAllResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:holiday" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="holiday">
        <xs:sequence>
          <xs:element minOccurs="0" name="holidayDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="location" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="delete">
        <xs:sequence>
          <xs:element minOccurs="0" name="location" type="xs:string" />
          <xs:element minOccurs="0" name="holidayDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="get">
        <xs:sequence>
          <xs:element minOccurs="0" name="location" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:holiday" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="saveResponse">
    <wsdl:part name="parameters" element="tns:saveResponse" />
  </wsdl:message>
  <wsdl:message name="get">
    <wsdl:part name="parameters" element="tns:get" />
  </wsdl:message>
  <wsdl:message name="save">
    <wsdl:part name="parameters" element="tns:save" />
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="getAllResponse">
    <wsdl:part name="parameters" element="tns:getAllResponse" />
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part name="parameters" element="tns:getResponse" />
  </wsdl:message>
  <wsdl:message name="getAll">
    <wsdl:part name="parameters" element="tns:getAll" />
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:portType name="HolidayController">
    <wsdl:operation name="save">
      <wsdl:input name="save" message="tns:save" />
      <wsdl:output name="saveResponse" message="tns:saveResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <wsdl:input name="getAll" message="tns:getAll" />
      <wsdl:output name="getAllResponse" message="tns:getAllResponse" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input name="delete" message="tns:delete" />
      <wsdl:output name="deleteResponse" message="tns:deleteResponse" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input name="get" message="tns:get" />
      <wsdl:output name="getResponse" message="tns:getResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HolidayControllerImplServiceSoapBinding" type="tns:HolidayController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="save">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="save">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="delete">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAll">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="get">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HolidayControllerImplService">
    <wsdl:port name="HolidayControllerImplPort" binding="tns:HolidayControllerImplServiceSoapBinding">
      <soap:address location="http://localhost:8080/rfq/services/HolidayMaintenance" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>