RequestForQuoteServicesModuleLibrary/Service References/SearchCriteriaService/SearchController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://search.rfq.ws.leon.com/" name="SearchController" targetNamespace="http://search.rfq.ws.leon.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://search.rfq.ws.leon.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="SearchCriterion" type="tns:searchCriterion" />
      <xs:element name="delete" type="tns:delete" />
      <xs:element name="deleteResponse" type="tns:deleteResponse" />
      <xs:element name="getAll" type="tns:getAll" />
      <xs:element name="getAllResponse" type="tns:getAllResponse" />
      <xs:element name="save" type="tns:save" />
      <xs:element name="saveResponse" type="tns:saveResponse" />
      <xs:element name="updatePrivacy" type="tns:updatePrivacy" />
      <xs:element name="updatePrivacyResponse" type="tns:updatePrivacyResponse" />
      <xs:complexType name="save">
        <xs:sequence>
          <xs:element minOccurs="0" name="owner" type="xs:string" />
          <xs:element minOccurs="0" name="key" type="xs:string" />
          <xs:element minOccurs="0" name="controlName" type="xs:string" />
          <xs:element minOccurs="0" name="controlValue" type="xs:string" />
          <xs:element minOccurs="0" name="isPrivate" type="xs:boolean" />
          <xs:element minOccurs="0" name="isFilter" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="updatePrivacy">
        <xs:sequence>
          <xs:element minOccurs="0" name="owner" type="xs:string" />
          <xs:element minOccurs="0" name="key" type="xs:string" />
          <xs:element minOccurs="0" name="isPrivate" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updatePrivacyResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getAll">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getAllResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:searchCriterion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="searchCriterion">
        <xs:sequence>
          <xs:element minOccurs="0" name="controlName" type="xs:string" />
          <xs:element minOccurs="0" name="controlValue" type="xs:string" />
          <xs:element minOccurs="0" name="isFilter" type="xs:boolean" />
          <xs:element minOccurs="0" name="isPrivate" type="xs:boolean" />
          <xs:element minOccurs="0" name="key" type="xs:string" />
          <xs:element minOccurs="0" name="owner" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="delete">
        <xs:sequence>
          <xs:element minOccurs="0" name="owner" type="xs:string" />
          <xs:element minOccurs="0" name="key" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteResponse">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="saveResponse">
    <wsdl:part name="parameters" element="tns:saveResponse" />
  </wsdl:message>
  <wsdl:message name="save">
    <wsdl:part name="parameters" element="tns:save" />
  </wsdl:message>
  <wsdl:message name="updatePrivacyResponse">
    <wsdl:part name="parameters" element="tns:updatePrivacyResponse" />
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="getAllResponse">
    <wsdl:part name="parameters" element="tns:getAllResponse" />
  </wsdl:message>
  <wsdl:message name="updatePrivacy">
    <wsdl:part name="parameters" element="tns:updatePrivacy" />
  </wsdl:message>
  <wsdl:message name="getAll">
    <wsdl:part name="parameters" element="tns:getAll" />
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:portType name="SearchController">
    <wsdl:operation name="save">
      <wsdl:input name="save" message="tns:save" />
      <wsdl:output name="saveResponse" message="tns:saveResponse" />
    </wsdl:operation>
    <wsdl:operation name="updatePrivacy">
      <wsdl:input name="updatePrivacy" message="tns:updatePrivacy" />
      <wsdl:output name="updatePrivacyResponse" message="tns:updatePrivacyResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <wsdl:input name="getAll" message="tns:getAll" />
      <wsdl:output name="getAllResponse" message="tns:getAllResponse" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input name="delete" message="tns:delete" />
      <wsdl:output name="deleteResponse" message="tns:deleteResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchControllerSoapBinding" type="tns:SearchController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="save">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="save">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePrivacy">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updatePrivacy">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updatePrivacyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="delete">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAll">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchController">
    <wsdl:port name="SearchControllerImplPort" binding="tns:SearchControllerSoapBinding">
      <soap:address location="http://localhost:8080/rfq/services/SearchCriteria" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>