RequestForQuoteServicesModuleLibrary/Service References/ReportingService/ReportingController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://reporting.rfq.ws.leon.com/" name="ReportingController" targetNamespace="http://reporting.rfq.ws.leon.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:ns1="com.leon.ws.rfq.reporting" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://reporting.rfq.ws.leon.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="com.leon.ws.rfq.reporting" />
      <xs:element name="getGreeksByCategory" type="tns:getGreeksByCategory" />
      <xs:element name="getGreeksByCategoryResponse" type="tns:getGreeksByCategoryResponse" />
      <xs:element name="getGreeksExtrapolation" type="tns:getGreeksExtrapolation" />
      <xs:element name="getGreeksExtrapolationResponse" type="tns:getGreeksExtrapolationResponse" />
      <xs:element name="getRequestsByCategory" type="tns:getRequestsByCategory" />
      <xs:element name="getRequestsByCategoryResponse" type="tns:getRequestsByCategoryResponse" />
      <xs:complexType name="getRequestsByCategory">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoryType" type="xs:string" />
          <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
          <xs:element name="minimumCount" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getRequestsByCategoryResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:requestCountReportDataImpl" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestCountReportDataImpl">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoryValue" type="xs:string" />
          <xs:element name="requestCount" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getGreeksExtrapolation">
        <xs:sequence>
          <xs:element name="requestId" type="xs:int" />
          <xs:element minOccurs="0" name="rangeVariable" type="xs:string" />
          <xs:element name="rangeMinimum" type="xs:double" />
          <xs:element name="rangeMaximum" type="xs:double" />
          <xs:element name="rangeIncrement" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getGreeksExtrapolationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:extrapolationPoints" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="extrapolationPoints" final="extension restriction">
        <xs:sequence>
          <xs:element name="extrapolationPoints">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:double" />
                      <xs:element minOccurs="0" name="value" type="tns:extrapolationPoint" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="extrapolationPoint" final="extension restriction">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="arrayList">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractList">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractList" abstract="true">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractCollection">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractCollection" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getGreeksByCategory">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoryType" type="xs:string" />
          <xs:element minOccurs="0" name="maturityDateFrom" type="xs:dateTime" />
          <xs:element minOccurs="0" name="maturityDateTo" type="xs:dateTime" />
          <xs:element name="minimumGreek" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getGreeksByCategoryResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:greeksPerCategoryReportDataImpl" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="greeksPerCategoryReportDataImpl">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoryValue" type="xs:string" />
          <xs:element name="delta" type="xs:double" />
          <xs:element name="gamma" type="xs:double" />
          <xs:element name="rho" type="xs:double" />
          <xs:element name="theta" type="xs:double" />
          <xs:element name="vega" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="com.leon.ws.rfq.reporting" xmlns:ns1="http://reporting.rfq.ws.leon.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="com.leon.ws.rfq.reporting" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://reporting.rfq.ws.leon.com/" />
      <xs:element name="ExtrapolationPoints" type="ns1:extrapolationPoints" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getRequestsByCategoryResponse">
    <wsdl:part name="parameters" element="tns:getRequestsByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="getGreeksByCategory">
    <wsdl:part name="parameters" element="tns:getGreeksByCategory" />
  </wsdl:message>
  <wsdl:message name="getGreeksExtrapolationResponse">
    <wsdl:part name="parameters" element="tns:getGreeksExtrapolationResponse" />
  </wsdl:message>
  <wsdl:message name="getRequestsByCategory">
    <wsdl:part name="parameters" element="tns:getRequestsByCategory" />
  </wsdl:message>
  <wsdl:message name="getGreeksByCategoryResponse">
    <wsdl:part name="parameters" element="tns:getGreeksByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="getGreeksExtrapolation">
    <wsdl:part name="parameters" element="tns:getGreeksExtrapolation" />
  </wsdl:message>
  <wsdl:portType name="ReportingController">
    <wsdl:operation name="getRequestsByCategory">
      <wsdl:input name="getRequestsByCategory" message="tns:getRequestsByCategory" />
      <wsdl:output name="getRequestsByCategoryResponse" message="tns:getRequestsByCategoryResponse" />
    </wsdl:operation>
    <wsdl:operation name="getGreeksExtrapolation">
      <wsdl:input name="getGreeksExtrapolation" message="tns:getGreeksExtrapolation" />
      <wsdl:output name="getGreeksExtrapolationResponse" message="tns:getGreeksExtrapolationResponse" />
    </wsdl:operation>
    <wsdl:operation name="getGreeksByCategory">
      <wsdl:input name="getGreeksByCategory" message="tns:getGreeksByCategory" />
      <wsdl:output name="getGreeksByCategoryResponse" message="tns:getGreeksByCategoryResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportingControllerSoapBinding" type="tns:ReportingController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRequestsByCategory">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getRequestsByCategory">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRequestsByCategoryResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGreeksExtrapolation">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getGreeksExtrapolation">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getGreeksExtrapolationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGreeksByCategory">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getGreeksByCategory">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getGreeksByCategoryResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportingController">
    <wsdl:port name="ReportingControllerImplPort" binding="tns:ReportingControllerSoapBinding">
      <soap:address location="http://localhost:8080/rfq/services/Report" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>